.main-nav li .glyphicon { margin-right: 10px; }

/* Highlighting rules for nav menu items */

.main-nav li a.active,
.main-nav li a.active:hover,
.main-nav li a.active:focus {
    background-color: #4189C7;
    color: white;
}

/* Keep the nav menu independent of scrolling and on top of other items */

.main-nav {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}

/* Equation Creator Styles */

.creatortextarea {
    resize: none;
    font-size: 18px;
}

.creatordefaultvalue {
    width: 95%;
    margin-right: 5%;
}

.creatorcontainerdiv {
    width: 100%;
    border-width: 2px;
    border-color: black;
    margin-top: 25px;
}

.creatorfirstdiv {
    float: left;
    width: 60%;
}

.creatorseconddiv {
    float: right;
    width: 35%;
}

.creatorbutton {
    background-color: #dcfee1;
    border-color: black;
    border-width: 1px;
    color: black;
    font-size: 1.4em;
    padding: 9px 10px;
    border-radius: 4px;
    transition-duration: 0.3s;
    margin: 3px;
    width: 23%;
}

.creatorbutton:hover {
    background-color: white; 
}

.creatorbutton:disabled, creatorbutton[disabled] {
    background-color: #ffdbdb;
    cursor: not-allowed;
}

.creatorsavebarbutton {
    width: 100%;
    margin-top: 15px;
}


@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body { padding-top: 50px; }

    .creatorfirstdiv {
        float: unset;
        width: 100%;
    }

    .creatorseconddiv {
        float: unset;
        width: 100%;
        margin-top: 25px;
    }
}

@media (min-width: 768px) {
    /* On small screens, convert the nav menu to a vertical sidebar */
    .main-nav {
        height: 100%;
        width: calc(25% - 20px);
    }

    .main-nav .navbar {
        border-radius: 0px;
        border-width: 0px;
        height: 100%;
    }

    .main-nav .navbar-header { float: none; }

    .main-nav .navbar-collapse {
        border-top: 1px solid #444;
        padding: 0px;
    }

    .main-nav .navbar ul { float: none; }

    .main-nav .navbar li {
        float: none;
        font-size: 15px;
        margin: 6px;
    }

    .main-nav .navbar li a {
        border-radius: 4px;
        padding: 10px 16px;
    }

    .main-nav .navbar a {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        /* If a menu item's text is too long, truncate it */
        width: 100%;
    }
}