.main-nav li .glyphicon { margin-right: 10px; }

/* Highlighting rules for nav menu items */

.main-nav li a.active,
.main-nav li a.active:hover,
.main-nav li a.active:focus {
    background-color: #4189C7;
    color: white;
}

/* Keep the nav menu independent of scrolling and on top of other items */

.main-nav {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}

.eq-nav-link {
    cursor: pointer;
}

/* Equation Panel*/
.panel, .panel-heading{
    background-color: #EFEFEF !important;
    border: 0px !important;
    border-radius: 0px !important;
    width: 50%;
}

.panel-body {
    background-color: #DFDFDF;
}

.eqresult {
    font-size: 1.5em;
    border: 0px !important;
    border-radius: 0px !important;
    /* width: 50%; */
    padding: 10px 15px;
    background-color: #EFEFEF;
}


body {
    background-color: #FEFEFE;
}

h1 {
    color: #333333;
}

hr {
    height: 1px;
    background-color: lightgray;
    width: 96%;
}

/* Equation Creator Styles */

.creatortextarea {
    resize: none;
    font-size: 18px;
}

.creatordefaultvalue {
    width: 95%;
    margin-right: 5%;
}

.creatorcontainerdiv {
    width: 100%;
    border-width: 2px;
    border-color: black;
    margin-top: 25px;
}

.creatorfirstdiv {
    float: left;
    width: 60%;
}

.creatorseconddiv {
    float: right;
    width: 35%;
    background-color: #ffffff;
    border-radius: 1%;
    padding: 1%;
}

.creatorbutton {
    background-color: #DCFEE1;
    border: 1px solid black;
    color: black;
    font-size: 1.4em;
    padding: 9px 10px;
    transition-duration: 0.3s;
    width: 25%;
}

.equationddlbutton {
    font-size: 1.3em;
    padding: 7px 10px;
    width: 100%;
}

.creatorbutton:hover {
    background-color: white;
}

.creatorbutton:disabled, creatorbutton[disabled] {
    background-color:  #FFE5E5;
    color: #666666;
    cursor: not-allowed;
}

.creatorsavebarbutton {
    width: 100%;
    margin-top: 15px;
}

.dropdown-menu {
    margin: 3px;
    width: 100%;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

#result {
    font-size: 3em;
    line-height: 100%;
}


@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body { padding-top: 50px; }

    .creatorfirstdiv {
        float: unset;
        width: 100%;
    }

    .creatorseconddiv {
        float: unset;
        width: 100%;
        margin-top: 25px;
    }
}

@media (min-width: 768px) {
    /* On small screens, convert the nav menu to a vertical sidebar */
    .main-nav {
        height: 100%;
        width: 15%;
    }

    .main-nav .navbar {
        border-radius: 0px;
        border-width: 0px;
        height: 100%;
    }

    .main-nav .navbar-header { float: none; }

    .main-nav .navbar-collapse {
        border-top: 1px solid #444;
        padding: 0px;
    }

    .main-nav .navbar ul { float: none; }

    .main-nav .navbar li {
        float: none;
        font-size: 15px;
        margin: 6px;
    }

    .main-nav .navbar li a {
        border-radius: 4px;
        padding: 10px 16px;
    }

    .main-nav .navbar a {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        /* If a menu item's text is too long, truncate it */
        width: 100%;
    }
}
